documents/
projects/
.vscode/
desktop.ini
images/emblem.png
images/favicon-old.ico
images/placeholder.jpg
images/parallax-2017x923.png
images/parallax-1920x574.png
images/logo-old.svg
images/logo-old.png
images/Profil.png
images/wordpress-581849_1920.jpg
images/wordpress-1013189_1920.png
